body {
	font-family: Arial;
	font-size: 16px;
	background-image: url('http://cdn.sfmovies.org/images/background.jpg');
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #000000;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#header {
	width: 90%;
	height: 48px;
	overflow: hidden;
	position: relative;
	margin: 50px auto 0px auto;
}

#query {
	width: 100%;
	height: 47px;
	font-size: 24px;
	text-indent: 13px;
	border: 0px;
	outline: none;
}

#map {
	width: 90%;
	height: 450px;
	overflow: hidden;
	position: fixed;
	margin: 0px auto 0px auto;
}

div.infoWindow {
	font-family: Arial;
	font-size: 16px;
	line-height:1.5em;
	padding: 1em 1em 1.5em 1em; 
}

span.movieTitle
{
	font-weight:bold;
	line-height: 3em;
	font-size:1.5em;
}

.autocomplete {
	border: 1px solid #999;
	background: #FFFFFF;
	cursor: default;
	text-align: left;
	max-height: 350px;
	overflow: auto;
}

.autocomplete-w1 {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: -10px 0 0 0;
	position: absolute;
}

.autocomplete-suggestions {
	max-width:90%;
	margin-top: -5px !important;
	left: 0px;
	position: absolute;
}

.autocomplete .selected {
	background: #F0F0F0;
}

.autocomplete div {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}

.autocomplete strong {
	font-weight: normal;
	color: #3399FF;
}

.autocomplete-suggestion {
	background-color: #FFFFFF;
	padding: 5px;
}

.autocomplete-suggestion:hover {
	background-color: #dddddd;
	cursor: pointer;
	cursor: hand;
}

a { text-decoration: none; color: #880902; }
a:VISITED { text-decoration: none; color: #880902; }
a:HOVER { text-decoration: underline; color: #880902; }
a:ACTIVE { text-decoration: underline; color: #880902; }